$margin: 0.5rem;
$duration: 0.75s;

.nodeModal {
  display: none;
  position: fixed;

  background: #f8f8f8;
  border: 1px solid black;
  border-radius: $margin;

  overflow: clip;
  white-space: nowrap;
  z-index: 999;

  >.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }

  >.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  /* All foreground elements are faded in */
  >:not(.background) {
    transition: opacity calc($duration/2) 0s ease;
    opacity: 0;
    display: inline-block;
  }

  /* Entry + Exit animations */
  &.enter {
    // only introduce the animation on inset after the
    // modal has been moved over the item it replaces
    display: inline-block;
    transition: inset $duration 0s ease-in-out;
  }

  &.enterActive {
    @extend .enter;
    // override the size of the item replaced
    inset: $margin  !important;

    // fade in all our foreground elements s.t. they
    // are fully opaque only when the modal is fully open
    >:not(.background) {
      transition-delay: $duration;
      opacity: 1;
    }
  }

  &.enterDone {
    // once the element is back in the dom, we want it to
    // maintain it's full page size until we make it close
    @extend .enterActive;
  }

  &.exit {
    @extend .enter;
    transition-delay: calc($duration / 2);
  }
}

:export {
  duration: $duration;
}