.staticNode {
  position: block;
}

.diagramMenu {
  position: absolute;
  z-index: 2;
  padding: 0.5rem;

  top: 50%;
  left: 0rem;
  margin-left: 0.25rem;
  transform: translateY(-50%);

  background-color: #ffffff;
  border: 0.07rem solid #dae1e7;
  border-radius: 0.25rem;
  box-shadow: 0 0.4rem 0.5rem -0.1rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.01rem rgba(0, 0, 0, 0.05);

  >* {
    padding: 0.25rem;

    // add spacers **between** elements
    +* {
      border-top: 0.07rem solid #969696;
    }
  }
}