.diagramMenu {
  position: absolute;
  right: 0rem;
  z-index: 2;
  padding: 0.5rem;
  margin-left: 0.25rem;

  background-color: #ffffff;
  border: 0.07rem solid #dae1e7;
  border-radius: 0.25rem;
  box-shadow: 0 0.4rem 0.5rem -0.1rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.01rem rgba(0, 0, 0, 0.05);

  list-style: none;

  >* {
    float: left;
    padding: 0.25rem;

    // add spacers **between** elements
    +* {
      border-left: 0.07rem solid #969696;
    }
  }
}